{% extends "base.html" %}

{% block content %}
<div style="display: flex; justify-content: center;">
    <form method="POST" action={% url 'login' %} class="login-form">
        {% csrf_token %}
        <div class="mb-3">
          <label class="form-label">Email address</label>
          <input type="text" class="form-control" name="username" placeholder="John Doe">
        </div>
        <div class="mb-3">
          <label class="form-label">Password</label>
          <input type="password" class="form-control" name="password" placeholder="********">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>

{% endblock %}